body { 
    text-align: center;
    background-color: darkkhaki    
}
#app { 
    width: 100%;
    height:800px;
    background-color: aliceblue
}
#myCarousel { 
background-color: burlywood;
height: 350px;
}
#Contacts iframe { 
width:100%
}
.line iframe { 
margin-right:inherit;
width:300px;    
}